* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    margin: 5px 0;
}

input {
    min-width: 240px;
    height: 36px;
    padding: 10px;

    &:active,
    &:focus {
        outline: none;
    }

    &::-ms-clear,
    &::-ms-reveal {
        width: 0;
        height: 0;
        display: none;
    }

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration{
        display: none;
    }
}

button {
    height: 36px;
    padding: 0 10px;
    cursor: pointer;
    border: none;
    border: 1px solid gray;
    background-color: transparent;

    &:active,
    &:focus {
        outline: none;
    }
}